version: 2.1
orbs:
  ruby: circleci/ruby@1.1.2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.7
    working_directory: ~/doc_rails
    steps:
      - checkout:
          path: ~/doc_rails
      - ruby/install-deps

test:
  docker:
    - image: circleci/ruby:2.7
    - image: circleci/mysql:8.0
      environment:
        MYSQL_ROOT_PASSWORD: password
        MYSQL_DATABASE: doc_rails_test
        MYSQL_USER: root
  environment:
    BUNDLE_JOBS: "3"
    BUNDLE_RETRY: "3"
    APP_DATABASE_HOST: "127.0.0.1"
    RAILS_ENV: test
  working_directory: ~/doc_rails
  steps:
    - checkout:
        path: ~/doc_rails
    - ruby/install-deps
    - run:
        name: Database setup
        command: bundle exec rails db:migrate
    - run:
        name: test
        command: bundle exec rake test

#  deploy:
#    machine:
#      enabled: true
#    steps:
#      - add_ssh_keys:
#          fingerprints:
#            - xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx:xx
#      - run: ssh -p $SSH_PORT $SSH_USER@$SSH_HOST "/home/ec2-user/アプリ名/deploy-me.sh"
workflows:
  version: 2
  build_and_test:
    jobs:
      - build
      - test:
        requires:
          - build
  #deploy:
  #  jobs:
  #    - deploy:
  #        filters:
  #          branches:
  #            only: master